.Footer {
    background-color: #344863;
    padding: 100px 0px 20px 0px;
}
.Footer H4 {
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: medium;
    color: #FFF;
    margin-bottom: 30px;
}
.Footer p {
    font-size: 16px;
    font-family: Open+Sans;
    color: #BABABA;
}

.Footer .links {
    font-size: 16px !important;
    font-family: Open+Sans !important;
    color: #BABABA !important;
    text-decoration: none !important;
}

.copyright {
    color: #F2F9EF !important;
    font-size: 15px !important;
    margin: 30px 0px;
    text-align: center;
}


/* Mobile Responsiveness Css */
@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .Footer img {
        width: 20vw;
    }
    .Footer .links {
        font-size: 16px !important;
        font-family: Open+Sans !important;
        color: #BABABA !important;
        text-decoration: none !important;
        text-align: left !important;
    }
    .Footer svg {
        font-size: 14px !important;
        margin-right: -10px;
    }
}

/* Mobile Responsiveness Css */
@media only screen and (max-width: 600px) and (min-width: 300px) {
    .Footer img {
        width: 80vw;
    }

    .Footer .links {
        font-size: 16px !important;
        font-family: Open+Sans !important;
        color: #BABABA !important;
        text-decoration: none !important;
        text-align: left !important;
    }

    .Footer svg {
        font-size: 20px !important;
    }
}