.homebg1 {
    background-image: url("../images/homebg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding-top: 20px;
}
.title {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 50px;
    line-height: 57.6px;
}
.subtitle {
    font-family: Open+Sans;
    font-size: 28px;
    font-weight: normal;
    margin-top: 15px;
}
.card {
    padding: 40px 80px;
    margin-top: 60px;
    margin-bottom: 30px;
    border: #FFE7EF solid 2px;
    border-radius: 10px;
}
.card1 {
    padding: 40px 80px;
    border: #FFE7EF solid 2px;
    border-radius: 10px;
}
.select {
    background-color: transparent !important;
    padding: 20px 30px !important;
    color: #333333 !important;
    font-size: 16px !important;
    width: 100%;
    border: #FFE7EF solid 1px !important;
    border-radius: 5px !important;
    outline: none !important;
    right: 5px !important;
}
label {
    color: #344863;
    font-size: 14px;
}
.submit {
    background-color: #0000FB !important;
    color: #fff !important;
    text-align: center;
    font-size: 16px;
    width: 100%;
    border: none !important;
    padding: 20px 60px !important;
    margin: auto;
    border-radius: 40px !important;
}
.submit:hover {
    background-color: #FFF !important;
    color: #0000FB !important;
    text-align: center;
    font-size: 16px;
    width: 100%;
    border: 1px solid #0000FB !important;
    padding: 20px 60px !important;
    margin: auto;
    transition: 0.5s;
    border-radius: 40px !important;
}
.circle1 {
    margin-top: 280px;
    margin-left: 300px;
    position: absolute;
    z-index: -1;
}
.lady {
    margin-top: 10px;
}
.section2 {
    margin: -80px 0px;
    padding-right: 80px;
}
.carousel {
    margin: 100px 0px -130px 0px;
}
.carousel1 {
    background-color: #FFF;
    padding: 40px 20px;
    margin: 0px;
    border: 1px solid #F7EDF6;
    border-radius: 5px;
}
.section3 {
    background-color: rgb(152, 226, 255, 10%);
    margin-bottom: 80px;
}
.section4 {
    padding: 100px 0px;
}
.secTitle {
    font-family: 'Ubuntu';
    font-size: 40px;
    font-weight: medium;
}
.secSubTitle {
    font-family: Open+Sans;
    font-size: 20px;
    font-weight: normal;
}
.card1 {
    background-color: rgb(152, 226, 255, 15%);
    padding: 30px 140px 50px 140px;
    border: #F7EDF6 solid 1px;
    border-radius: 20px;
}
.card1 h3 {
    font-family: 'Ubuntu';
    font-weight: medium;
}
.apply1 {
    color: #0000FB;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 25px;
    border: 1px solid #0000FB;
    border-radius: 30px;
}
.apply1:hover {
    color: #FFF;
    background-color: #0000FB;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 25px;
    border: 1px solid #0000FB;
    border-radius: 30px;
    transition: 0.5s;
}
p {
    font-family: Open+Sans;
    font-size: 20px;
}
.section5 {
    background-image: url("../images/bg01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.subTitle {
    font-family: Open+Sans;
    font-size: 18px;
    letter-spacing: 5px;
}
.link {
    color: #0000FB;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Ubuntu;
}
.iconTitle {
    display: inline-block;
    font-size: 20px; 
    font-weight: 600;
    text-align: left;
    margin-left: 15px;
    vertical-align: center;
}
.section6 img {
    display: inline-block;
}
.box1 {
    padding: 0px 60px;
}
.box1 p {
    padding-top: 10px;
}
.iconCard {
    height: 300px;
    background-color: #0000FB;
    padding: 40px 20px;
    border-radius: 10px;
}
.iconCard1 {
    height: 300px;
    background-color: #98E2FF;
    padding: 40px 20px;
    border-radius: 10px;
}
.iconCard p {
    color: #FFF;
}
.iconCard1 p {
    color: #344863;
}
.iconCard h4 {
    margin-top: 10px;
    font-family: Ubuntu;
    font-weight: bold;
    color: #FFF;
}
.iconCard1 h4 {
    margin-top: 10px;
    font-family: Ubuntu;
    font-weight: bold;
    color: #344863;
}
.titleLine {
    background-color: #0000FB;
    opacity: 1;
    border: none;
    height: 10px;
    width: 80px;
    margin-top: 50px;
}
.section8 h3 {
    font-family: 'Ubuntu';
    font-size: 45px;
    font-weight: medium;
}
.apply2 {
    color: #FFF;
    background-color: #0000FB;
    font-weight: 600;
    font-size: 16px;
    padding: 14px 40px;
    margin-top: 20px;
    border: 1px solid #0000FB;
    border-radius: 30px;
    transition: 0.5s;
}
.apply2:hover {
    color: #0000FB;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    padding: 14px 40px;
    margin-top: 20px;
    border: 1px solid #0000FB;
    border-radius: 30px;
}
.middleSec {
    background-color: rgb(152, 226, 255, 15%); 
    height: 300px;
    margin-top: -220px;
}
.content {
    padding: 0px 80px 0px 50px;
}
.rightFloating {
    float: right;
}
.section9 {
    background-color: rgb(152, 226, 255, 10%);
    margin-top: 0px;
    padding-top: 20px;
    height: 350px;
}
.news {
    position: relative;
}
.content1 {
    padding: 40px;
    margin-top: 275px;
    color: #FFF;
    width: 635px;
    position: absolute;
}
.content1 span {
    font-size: 14px;
}
.newsTitle {
    font-size: 30px;
    font-family: 'Ubuntu';
    display: inline-block;
    width: 70%;
}
.newBg {
    width: 100%;
}
.tags {
    display: inline-block;
    text-align: right;
    margin-top: 45px;
    width: 30%;
}
.news2 {
    display: inline-block;
}
.content2 {
    display: inline-block;
}
.postDate {
    font-size: 14px;
    color: #0000FB;
    font-weight: 500;
}
.postTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: 900;
}
.postContent {
    font-size: 14px;
}
.postTags {
    font-size: 12px;
    color: #999999;
    display: block;
}
.titleLine1 {
    background-color: #0000FB;
    opacity: 1;
    border: none;
    height: 10px;
    width: 80px !important;
    margin-top: 150px;
    margin-left: 12px;
}
.subForm {
    width: 100%;
}
.subInput, .subInput:focus, .subInput:active {
    width: 70% !important;
    display: inline-block !important;
    background-color: rgb(247, 237, 246, 60%) !important;
    color: #A8B1C1 !important;
    border: none !important;
    border-radius: 30px 0px 0px 30px !important;
    padding: 10px 40px !important;
    outline: none !important;
    font-size: 20px !important;
}
.subSubmit {
    width: 20%;
    display: inline-block;
    background-color: #B06C13;
    color: #FFF;
    border: none;
    border-radius: 0px 30px 30px 0px;
    padding: 10px 40px;
    outline: none;
    font-size: 20px;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #939393
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #939393
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #939393
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #939393
}





/* Mobile Responsiveness Css */
@media only screen and (max-width: 600px) {
    .title {
        font-family: Ubuntu;
        font-weight: 700;
        font-size: 40px;
        line-height: 57.6px;
    }
    .subtitle {
        font-family: Open+Sans;
        font-size: 22px;
        font-weight: normal;
        margin-top: 15px;
    }
    .card {
        background-color: #FFF;
        padding: 40px 40px;
        margin-top: 40px;
        margin-bottom: 30px;
        border: #FFE7EF solid 2px;
        border-radius: 10px;
    }
    .select {
        background-color: transparent !important;
        padding: 20px 30px !important;
        color: #333333 !important;
        font-size: 16px !important;
        width: 100%;
        border: #FFE7EF solid 1px !important;
        border-radius: 5px !important;
        outline: none !important;
        right: 5px !important;
    }
    label {
        color: #344863;
        font-size: 14px;
    }
    .submit {
        background-color: #0000FB !important;
        color: #fff !important;
        text-align: center;
        font-size: 16px;
        width: 100%;
        border: none !important;
        padding: 20px 60px !important;
        margin: auto;
        border-radius: 40px !important;
    }
    .circle1 {
        display: none;
    }
    .section2, .circle2 {
        display: none;
    }
    .lady {
        display: none;
    }
    .section3 {
        background-color: rgb(152, 226, 255, 10%);
        margin-top: 30px;
    }
    .card1 {
        background-color: rgb(152, 226, 255, 15%);
        margin-top: 20px;
        padding: 30px 30px 50px 30px;
        border: #F7EDF6 solid 1px;
        border-radius: 20px;
    }
    .carousel {
        margin: 50px 0px -50px 0px;
    }
    .section4 {
        padding: 20px 0px;
    }
    .secTitle {
        font-family: 'Ubuntu';
        font-size: 35px;
        font-weight: medium;
    }
    .subTitle {
        font-family: Open+Sans;
        font-size: 16px;
        letter-spacing: 5px;
    }
    .secSubTitle {
        font-family: Open+Sans;
        font-size: 18px;
        font-weight: normal;
    }
    .illustration1 {
        width: 100%;
    }
    .illustration2 {
        width: 100%;
        margin-top: 500px;
    }
    .rightFloating {
        float: right;
        width: 30px;
    }
    .content .secTitle {
        font-size: 40px;
        margin-top: 20px;
    }
    .content {
        text-align: center !important;
        margin-top: -700px;
        padding: 0px 20px 0px 20px;
    }
    .titleLine {
        text-align: center;
        margin: auto;
    }
    .link {
        margin-bottom: 50px;
    }
    .box1 {
        margin-bottom: 40px;
    }
    .iconCard, .iconCard1 {
        margin: 0px 30px 20px 30px;
    }
    .middleSec {
        background-color: rgb(152, 226, 255, 15%); 
        height: 1200px;
        margin-top: -1160px;
    }
    .titleLine1 {
        background-color: #0000FB;
        opacity: 1;
        border: none;
        height: 10px;
        width: 80px;
        text-align: center;
        margin: 20px auto;
    }    
    .section9 {
        height: 200px;
        margin-bottom: 150px;
    }
    .section9 .subTitle, .section9 .secTitle {
        margin: auto;
        text-align: center;
    }
    .content1 {
        padding: 20px;
        margin-top: 120px;
        color: #FFF;
        width: 90vw;
        position: absolute;
    }
    .content1 span {
        font-size: 12px;
    }
    .newsTitle {
        font-size: 22px;
        font-family: 'Ubuntu';
        display: inline-block;
        width: 70%;
    }
    .newBg {
        width: 100%;
    }
    .tags {
        display: inline-block;
        text-align: right;
        margin-top: 45px;
        width: 30%;
    }
    .newsImage, .postDate, .postTitle, .postContent, .postTags {
        display: none;
    }
    .subInput, .subInput:focus, .subInput:active {
        width: 70% !important;
        display: inline-block !important;
        background-color: rgb(247, 237, 246, 60%) !important;
        color: #A8B1C1 !important;
        border: none !important;
        border-radius: 30px 0px 0px 30px !important;
        padding: 10px 20px !important;
        outline: none !important;
        font-size: 14px !important;
    }
    .subSubmit {
        width: 25%;
        display: inline-block;
        background-color: #B06C13;
        color: #FFF;
        border: none;
        border-radius: 0px 30px 30px 0px;
        padding: 10px 20px;
        margin-left: -20px;
        outline: none;
        font-size: 14px;
    }
}