.section1 {
    background-image: url("../images/productbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
}
.title {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 50px;
    line-height: 57.6px;
}
.subtitle {
    font-family: Open+Sans;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-top: 15px;
}
.secTitle {
    font-family: 'Ubuntu';
    font-size: 40px;
    font-weight: medium;
}
.secTitle1 {
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 60px;
    font-weight: medium;
    margin: 0px 60px 0px 80px;
}
.secSubTitle {
    font-family: Open+Sans;
    font-size: 20px;
    font-weight: normal;
}
p {
    font-family: Open+Sans;
    font-size: 20px;
}
.subTitle {
    font-family: Open+Sans;
    font-size: 18px;
    letter-spacing: 5px;
}
.titleLine {
    background-color: #0000FB;
    opacity: 1;
    border: none;
    height: 10px;
    width: 80px !important;
    margin: 20px auto;
}
.apply {
    color: #FFF;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
    padding: 14px 40px;
    margin: 20px 0px 0px 70px;
    border: 1px solid #FFF;
    border-radius: 30px;
    transition: 0.5s;
}
.apply:hover {
    color: #0000FB;
    background-color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 14px 40px;
    margin: 20px 0px 0px 70px;
    border: 1px solid #0000FB;
    border-radius: 30px;
}
.loanIcon {
    height: 50px !important;
    width: 85px !important;
    margin: auto;
}
.section4 {
    background-image: url("../images/rightui.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.box {
    background-color: #0000FB;
    border-radius: 30px;
    width: 100%;
}
.card {
    padding: 40px 80px;
    border: #FFE7EF solid 2px;
    border-radius: 10px;
}
.select {
    background-color: transparent !important;
    padding: 20px 30px !important;
    color: #333333 !important;
    font-size: 18px !important;
    width: 100%;
    border: #FFE7EF solid 1px !important;
    border-radius: 5px !important;
    outline: none !important;
    right: 5px !important;
}
.card label {
    color: #344863;
    font-size: 15px !important;
}
.submit {
    background-color: #0000FB !important;
    color: #fff !important;
    text-align: center;
    font-size: 16px;
    width: 100%;
    border: none !important;
    padding: 20px 60px !important;
    margin: auto;
    border-radius: 40px !important;
}
.submit:hover {
    background-color: #FFF !important;
    color: #0000FB !important;
    text-align: center;
    font-size: 16px;
    width: 100%;
    border: 1px solid #0000FB !important;
    padding: 20px 60px !important;
    margin: auto;
    transition: 0.5s;
    border-radius: 40px !important;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #939393
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #939393
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #939393
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #939393
}



/* Mobile Responsiveness Css */

@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .worldMap {
        margin: auto;
        width: 80vw;
    }
    .title {
        font-family: Ubuntu;
        font-weight: 700;
        font-size: 40px;
        line-height: 57.6px;
        display: block;
    }

    .secTitle1 {
        color: #fff;
        font-family: 'Ubuntu';
        font-size: 40px;
        font-weight: medium;
        margin: 40px 40px 10px 40px;
    }

    .apply {
        color: #FFF;
        background-color: transparent;
        font-weight: 600;
        font-size: 18px;
        padding: 14px 40px;
        margin: 20px 20px 20px 40px;
        border: 1px solid #FFF;
        border-radius: 30px;
        transition: 0.5s;
    }

    .productImage {
        border-radius: 0px 30px 30px 0px;
        width: 94%;
        margin-right: 12px !important;
    }
    .section4 {
        background-image: url("../images/rightui.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: 0px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
    .worldMap {
        margin: auto;
        width: 100%;
    }

    .title {
        font-family: Ubuntu;
        font-weight: 700;
        font-size: 40px;
        line-height: 57.6px;
    }

    .secTitle1 {
        color: #fff;
        font-family: 'Ubuntu';
        font-size: 40px;
        font-weight: medium;
        margin: 40px 40px 10px 40px;
    }

    .apply {
        color: #FFF;
        background-color: transparent;
        font-weight: 600;
        font-size: 18px;
        padding: 14px 40px;
        margin: 20px 20px 20px 40px;
        border: 1px solid #FFF;
        border-radius: 30px;
        transition: 0.5s;
    }

    .productImage {
        border-radius: 0px 0px 30px 30px;
        width: 94%;
        margin-right: 12px !important;
    }

    .section4 {
        background-image: url("../images/rightui.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: 0px;
    }
}