.sideContainer {
    background-color: #0000FB;
    background-image: url("../images/sidebarBg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center !important;
    /* height: 100vh; */
    margin: 0px 40px;
    padding: 60px 30px;
    border-radius: 20px;
}
.sidebarMenu {
    list-style-type: none;
    margin-top: 100px;
    padding: 0 10px;
}
.sidebarMenu li {
    background-color: transparent;
    text-align: left;
    padding: 22px 10px;
}
.sidebarMenu li .menuTitle {
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 30px;
}

.sidebarMenu li .menuTitleActive {
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    margin-left: 30px;
}
.logoutButton {
    background-color: #FFF;
    text-align: center;
    color: #0000FB;
    border: none;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 15px 0px;
    border-radius: 50px;
    margin-top: 250px;
}

.logoutButton:hover {
    background-color: transparent;
    text-align: center;
    color: #FFF;
    border: 1px #FFF solid;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 15spx 0px;
    border-radius: 50px;
    margin-top: 250px;
}
